/* nav {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    position: fixed;
    height: 50px;
    border: solid #d8d7d7 1px;
    z-index: 1;
    top: 0px;
} */

.search-bar {
    /* box-shadow:inset 0px 1px 1px 1px #c0d2e6ad; */
    padding: 0px 10px;
}


